@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body,ul,li,div,p,h1,h2,h3,a,header,section,nav,footer,div,img{ margin:0; padding:0;}
a{ text-decoration:none;}
ul{list-style:none; }
button{border:0 none; background:rgba(0,0,0,0)}
header{width:100%; height:50px; background-color:#333; position:fixed; z-index:200; left:0;  top:0;}
header h1{margin:0px auto; width:78px; height:26px; padding-top:10px; }
header h1 a img{width:90%; height:90%; display:block; padding-top:4px;}
header button{width:32px; height:32px; position:absolute; top:9px; left:5px;background:url(img/o.png) no-repeat center center;text-indent:-9999px;}

nav{width:100%;  background-color:#333; position:absolute; z-index:300; top:0px; left:-100%;}
nav h2{margin:0px auto; width:78px; height:26px; padding-top:10px; }
nav h2 a img{width:90%; height:90%; display:block; padding-top:4px;}
nav button{width:32px; height:32px; position:absolute; top:9px; left:5px; background:url(img/x.png) no-repeat center center; text-indent:-9999px;}

.sub{width:100%;  background-color:#FFF; margin-top:14px;}
.sub li{ width:100%;  line-height:32px; background:#f0f0f0;}
.sub li a{font-size:16px; font-family: 'Jeju Gothic', sans-serif; color:#323232; width:99%;  padding-left:5px; box-sizing:border-box; display:block; background:url(img/btn.png) no-repeat right center; text-transform:uppercase;}
.subsub{}
.subsub li{width:100%; }
.subsub li a{width:100%; height:35px; font-size:14px; font-family: 'Nanum Gothic', serif; color:#545454; display:block; background:#FFF; box-sizing:border-box; padding-left:10px; text-transform:lowercase;}

.name{ width:100%; height:85px; margin-top:50px;}
.name h3{ width:77px; height:35px; margin:0 auto; padding-top:15px; font-family: 'Jeju Gothic', sans-serif; color:#f9bd2e; }


.menu_1{ width:100%; height:auto; margin-top:50px;}
.menu_1 h3{ font-family: 'Jeju Gothic', sans-serif; font-size:20px; line-height:45px; text-transform:uppercase; text-align:center; color:#000;
			width:100%; height:45px; background:#dff5ff;}
.menu_1 ul{ width:100%; height:35px;text-align:center; }
.menu_1 ul li{ width:50%; float:left;background:#fff;padding-top:5px; line-height:28px;height:35px;}
.menu_1 ul li:nth-child(1){background:#ddd;}
.menu_1 ul li a{font-family: 'Jeju Gothic', sans-serif; font-size:18px;color:#bbb; }
.menu_1 ul li:nth-child(2) a{color:#09F;}


.imgbox{ width:100%; height:auto; text-align:center; }
.imgbox ul img{ width:100%; height:auto; margin-top:60px; }
.imgbox .sub_p{ font-family: 'Jeju Gothic', sans-serif; font-size:20px; padding-top:60px; font-weight:bold;}
.imgbox .sub_p1{  font-family: 'Jeju Gothic', sans-serif; font-size:14px; line-height:25px; padding-top:60px; }







footer{width:100%; height:190px; background:#58595b; margin-top:10px;}
footer .sns{width:120px; margin:0 auto; padding-top:25px; }
footer .sns a{padding-left:25px;}
footer .sns a:first-of-type{padding:0px;}
footer ul{width:250px; height:12px; margin:0 auto;}
footer ul li{height:12px; color:#FFF; float:left;border-left:1px solid #FFF; margin:25px 0px; }
footer ul li:first-of-type{ border:0px;}
footer ul li a{font-family:'Nanum Gothic', serif; font-size:12px; display:block; color:#FFF; padding:0px 10px; }
footer ul span{width:200px; font-family:'Nanum Gothic', serif; font-size:10px; color:#FFF; border:0px; text-align:center; margin:0 auto; display:block;}