@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body,ul,li,div,p,h1,h2,h3,a,header,section,nav,footer,div,img{ margin:0; padding:0;}
a{ text-decoration:none;}
ul{list-style:none; }
body{}

/*ㅡㅡㅡㅡㅡheaderㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


header{width:100%; height:50px; background-color:#333; position:fixed; z-index:200; top:0; left:0;}
header h1{margin:0px auto; width:78px; height:26px; padding-top:10px; }
header h1 a img{width:90%; height:90%; display:block; padding-top:4px;}
button{border:0 none; background:rgba(0,0,0,0)}
header button{width:32px; height:32px; position:absolute; top:9px; left:5px;background:url(img/o.png) no-repeat center center;text-indent:-9999px;}


nav{width:100%;  background-color:#333; position:absolute; z-index:300; top:0px; left:-100%; }
nav h2{margin:0px auto; width:78px; height:26px; padding-top:10px; }
nav h2 a img{width:90%; height:90%; display:block; padding-top:4px;}
nav button{width:32px; height:32px; position:absolute; top:9px; left:5px; background:url(img/x.png) no-repeat center center; text-indent:-9999px;}

.sub{width:100%;  background-color:#FFF; margin-top:14px;}
.sub li{ width:100%;  line-height:25px; background:#f0f0f0; font-size:14px; font-family: 'Jeju Gothic', sans-serif; color:#323232; width:100%;  display:block; background:#f0f0f0;  text-transform:uppercase; padding-left:2%; box-sizing:border-box;}
.subsub{ margin-left:-2%;}
.subsub li{width:100%; height:36px; display:block; background:#FFF; box-sizing:border-box; padding-left:20px; padding-top:6px; }
.subsub li a{color:#545454; font-size:15px; font-family: 'Jeju Gothic', sans-serif; text-transform:lowercase; }


/*ㅡㅡㅡㅡㅡcontainerㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


.menu_1{ width:100%; height:auto; margin-top:50px;}
.menu_1 h3{ font-family: 'Jeju Gothic', sans-serif; font-size:20px; line-height:45px; text-transform:uppercase; text-align:center; color:#000;
			width:100%; height:45px; background:#dff5ff;}
.menu_1 ul{ width:100%; height:35px;text-align:center; }
.menu_1 ul li{ width:50%; float:left;background:#fff;padding-top:5px; line-height:28px;height:35px;}
.menu_1 ul li:nth-child(1){background:#ddd;}
.menu_1 ul li a{font-family: 'Jeju Gothic', sans-serif; font-size:18px;color:#bbb; }
.menu_1 ul li:nth-child(2) a{color:#09F;}


.container_top{ width:100%; height:auto; padding-top:20px;}
.container_top p{font-size:14px; font-family:'Nanum Gothic', serif; color:#333; line-height:25px; padding:0 15px;}
.container_top strong{font-size:15px; font-family: 'Jeju Gothic', sans-serif; text-transform:uppercase; padding-top:20px; display:block; padding-bottom:10px;}


.container{width:100%; height:600px; text-align:center; padding-top:20px;}
.container p{font-family: 'Jeju Gothic', sans-serif; font-size:15px; width:100%; line-height:30px; color:#000;background:#bae9ff;}

.container .container1_1 li{ width:50%; height:60px; border-top:1px solid #bae9ff; padding:15px 0px;background:#fff; display:block; float:left; box-sizing:border-box;}
.container .container1_1 li:nth-child(even){border-left:1px solid #bae9ff;}

.container .container2_1 li{ width:50%; height:60px; border-top:1px solid #bae9ff; padding:15px 0px;background:#fff; display:block; float:left; box-sizing:border-box;}
.container .container2_1 li:nth-child(even){border-left:1px solid #bae9ff;}
.container .container2_1 li:nth-child(7){border-bottom:1px solid #bae9ff;}
.container .container2_1 li:nth-child(8){border-bottom:1px solid #bae9ff;}

#stamp{font-size:13px; font-family:'Nanum Gothic', serif; background:none; text-align:left; padding:0px 15px; box-sizing:border-box; color:#F00;}
#stamp{padding-top:30px;}

/*ㅡㅡㅡㅡㅡfooterㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
footer{width:100%; height:190px; background:#58595b; margin-top:80px;}
footer .sns{width:120px; margin:0 auto; padding-top:25px; }
footer .sns a{padding-left:25px;}
footer .sns a:first-of-type{padding:0px;}
footer ul{width:250px; height:12px; margin:0 auto;}
footer ul li{height:12px; color:#FFF; float:left;border-left:1px solid #FFF; margin:25px 0px; }
footer ul li:first-of-type{ border:0px;}
footer ul li a{font-family:'Nanum Gothic', serif; font-size:12px; display:block; color:#FFF; padding:0px 10px; }
footer ul span{width:200px; font-family:'Nanum Gothic', serif; font-size:10px; color:#FFF; border:0px; text-align:center; margin:0 auto; display:block;}