@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);



body,ul,li,div,p,h1,a{ margin:0; padding:0;}

a{ text-decoration:none;}

ul{list-style:none; }

body{ margin-top:-50px;	}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡheaderㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

header{ width:100%;  min-width:999px; height:80px; background:#FFF;  box-shadow: 0px 4px 44px -8px rgba(0,0,0,0.45); position:absolute; top:0; left:0; z-index:300;}

header>h1{width:126px; height:42px; position:absolute; left:50%; top:18px; z-index:100;}
header>h1{margin-left:-63px;}

header>h1 a{width:126px; height:42px; background:url(img/logo.jpg) no-repeat;  text-indent:-9999px; display:block;}

.gnb{ width:100%; margin:25px auto; position:relative; z-index:30;}

.menu{ height:40px;position:relative; z-index:100; margin:10px auto; width:900px;}

.menu>li{float:left; height:40px;	position:relative;  }
.menu a{ display:block; width:100%; height:40px;line-height:40px; font-size:21px; font-family: 'Jeju Gothic', sans-serif; color:#333; text-transform:uppercase;}

#belif{margin-right:150px;}
#belif>a{}

#item{margin-right:150px;}
#item>a{ }

#stemp{margin-right:150px; margin-left:194px;}
#stemp>a{}

#project{}
#project>a{}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡsubㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.sub{ height:150px;  padding:0; margin-top:0;  position:absolute;	left:0px;	height:40px; z-index:20; display:none;}
.sub{ padding-top:10px; }
.sub li{ margin:0; padding:10px 0px 10px 0px; height:15px;}
.sub li a{ width:100px; font-size:14px; font-family: 'Jeju Gothic', sans-serif; color:#333; text-transform:lowercase;}

#sub_Bg{ width:100%; height:170px; background:rgba(250,250,250,0.7); position:absolute; top:81px; z-index:10; left:0; display:none;}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡvisual_containerㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.subsub{width:480px; height:140px;   min-width:999px;margin:0 auto; }
.subsub{ margin-top:180px;}

.subsub>h3{font-size:38px; font-family: 'Source Sans Pro', sans-serif; color:#a885dd; text-transform:uppercase; width:87px; margin:0 auto;}
.subsub>h3{margin-bottom:20px;}

.subsub>ul{margin:0 auto;width:180px;height:17px;}
.subsub>ul>li{float:left; margin-right:40px; padding-right:40px; border-right:1px solid #999; height:15px;}
.subsub>ul>li:last-child{border:0 none; padding:0; margin:0;}

.subsub>ul>li>a{font-size:14px; font-family: 'Jeju Gothic', sans-serif; color:#333;text-transform:uppercase;}

.warp{width:100%; min-width:999px;}

.product1{width:1000px; margin:0 auto; padding-bottom:180px;}
.product1{ margin-top:0px;}

.product1>h1{padding:0; margin:0; font-size:28px; font-family: 'Source Sans Pro', sans-serif; color:#333;}
.product1>p{ font-family: 'Nanum Gothic', serif; font-size:15px; color:#333; margin-top:20px;}

.product1_1{ width:1025px; height:389px; margin-top:30px;}

.product1_1>li{display:block; float:left; margin-right:20px; margin-top:20px;}
.product1_1>li:nth-child(5n){margin-right:0;}

.product1_1>li>a{display:block; width:189px; height:189px; background:#999; text-indent:-9999px;}
.product1_1>li:nth-child(1) a{background:url(img/baby1.jpg) no-repeat;}
.product1_1>li:nth-child(2) a{background:url(img/baby2.jpg) no-repeat;}
.product1_1>li:nth-child(3) a{background:url(img/baby3.jpg) no-repeat;}
.product1_1>li:nth-child(4) a{background:url(img/baby4.jpg) no-repeat;}
.product1_1>li:nth-child(5) a{background:url(img/baby5.jpg) no-repeat;}
.product1_1>li:nth-child(6) a{background:url(img/baby6.jpg) no-repeat;}
.product1_1>li:nth-child(7) a{background:url(img/baby7.jpg) no-repeat;}


.product1_1 li a:hover{ background:url(img/Untitled-4.png) no-repeat; }					   
.product1_1>li:nth-child(1) a:hover{ background-position: 0px 0px;}
.product1_1>li:nth-child(2) a:hover{ background-position: -203px 0px; }
.product1_1>li:nth-child(3) a:hover{ background-position:-406px 0px; }
.product1_1>li:nth-child(4) a:hover{ background-position:-609px 0px; }
.product1_1>li:nth-child(5) a:hover{ background-position:-812px 0px; }
.product1_1>li:nth-child(6) a:hover{ background-position:0px -201px; }
.product1_1>li:nth-child(7) a:hover{ background-position:-203px -201px; }



.box{ border:13px solid #e0cbff; background:#FFF; width:828px; height:394px;  z-index:350; position:fixed; left:50%; top:50%; margin:-197px 0 0 -414px;  font-family:'Nanum Gothic', serif;}


.box1{    position:absolute;  z-index:50;  }
.box2{    position:absolute; left:314px; top:50px; z-index:50; padding-right:50px; }
.box2 h2,h4{margin:0px; }
.box2 h3{ font-size:15px; }
.box2 p{font-size:13px;  }
.box1 a img{ margin-left:-280px;}
.box1 p{ font-size:12px; padding:0px; margin-left:110px; margin-top:-22px;   }

.box>#xbox{ width:15px; height:15px;  position:absolute;  }
.box>#xbox>a{ width:15px; height:15px; margin-left:810px;   }

.hidden{ display:none; }

.bg{ width:100%; height:100%; z-index:349; position:fixed;  background:rgba(0,0,0,0.45);left:0; top:0;}

#belifstamp>a{width:100px; height:100px; background:#F00; position:fixed; bottom:25px; right:30px;background:url(img/simbol.png) no-repeat; z-index:199;}
#belifstamp_bg{width:124px; height:97px; background:url(img/stampbg1.png) no-repeat; position:fixed; z-index:50;bottom:50px; right:26px; display:none;}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡfooterㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

footer{ width:100%; height:140px; background:#666; overflow:hidden;min-width:999px;}
footer>div{ width:500px; height:50px; margin:0 auto;}
footer>div{margin-top:20px;}
footer>div>ul{width:270px; height:13px; margin:0 auto;}
footer>div>ul>li{height:13px; float:left; margin-left:10px; padding-left:10px; border-left:1px solid #FFF;}
footer>div>ul>li:first-child{border-left:0 none;}
footer>div>ul>li>a{font-family:"돋움",Arial; font-size:11px; display:block;}
footer>div>ul>li>a:link{color:#FFF;}
footer>div>p{ width:500px;height:15px; font-family:"돋움",Arial; font-size:11px; color:#FFF;text-align:center; margin-top:10px;}


#sns{width:100px; height:40px; text-indent:-9999px; }
#sns li{width:40px; height:40px; margin-right:20px; display:block; float:left;}
#sns li:last-child{margin:0;}
#sns>li:nth-child(1) a{width:40px; height:40px; display:block; background:url(img/instar.png) no-repeat;}
#sns>li:nth-child(2) a{width:40px; height:40px; display:block; background:url(img/facebook.png) no-repeat;}

#digh{ background:url(img/Untitled-1.jpg) no-repeat;width:931px; height:149px; margin:0 auto;}

#digh{margin-top:250px;}

